.app {
  background-color: rgb(35, 4, 49);
  color: rgb(95, 107, 185);
  height: fit-content;
}

.main-heading{
  background-color: rgb(59, 68, 125);
  color: rgb(255, 0, 0);
  width: 100%;
}

.signupbtn {
  border-radius: 15px;
  min-width: 20%;
  background-color: rgb(95,107,185) ;
  color: rgb(35, 4, 49);
  font-weight: 800;
}

.headtext{
  color: aquamarine;
}

.singleps{
  border-bottom: 2px solid lightcoral;
}

.singlefl {
  border-bottom: 2px solid lightcoral;
}

.landingcont {
  min-width: 100%;
}

.formscont{
  min-width: 100%;
}

/* .stack{
  flex-wrap: wrap;
} */

#sidebar{
  background-color: rgb(35, 4, 49);
  border-radius: 5px;
}


